/*
salmon: #CC4444
jet: #2F2F35
gray: #C6C7CE
*/

html body{
  background: #2F2F35;
  color: #CC4444;
}

.navigationToggle {
  background: #2F2F35;
  color: #CC4444;
  height: 45px;
  width: 100vw;
  text-align: center;
  position: fixed;
  padding-top: 2px;
  bottom: 0;
  border-top: 2px solid #CC4444;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  z-index: 2;
}

.navigationSection {
   height: 0vh;
   width: 100vw;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #CC4444;
   overflow: hidden;
   transition: 0.3s;
   text-align: left;
   color: #0f380f;
   font-family: 'Righteous', cursive;
   font-size: 10vh;
}

#globe{
  font-size: 30vh;
}
.visible{
  height: 100vh;
}

.color-swap{
  background-color: #CC4444;
  border-color: #2F2F35;
  color: #2F2F35;
}

.nav-list{
  list-style-type: none;
  width: 100vw;
  text-align: center;
  padding-left: 0;
}

li {
  display: block;
}

li a {
    display: block;
    width: 100vw;
    color: #2F2F35;
    text-decoration: none;
}

li a:hover {
    background-color: #2F2F35;
    color: #C6C7CE;
    text-decoration: none;
    transition: background-color .2s ease-in;
}

.sectionA{
    background-color: #2F2F35;
    color: #CC4444;
    height: 100vh;
}
